<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org"><!--//导入thymeleaf命名空间-->
<head>
    <meta charset="UTF-8">
    <title>bar</title>
</head>
<body>
<header id="header-area" class="fixed-top sticky-header" th:fragment="topbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-content-wrapper d-flex align-items-center">
                    <div class="header-left-area d-flex align-items-center">
                        <!-- Start Logo Area -->
                        <div class="logo-area">
                            <a href="#"><h1>SHOW ME</h1></a>
                        </div>
                        <!-- End Logo Area -->

                        <!-- Start Menu Icon -->
                        <div class="menu-icon-wrap">
                            <button class="menu-icon-bar modalActive" data-mfp-src="#left-offside-popup"><i class="dl-icon-menu5"></i></button>
                        </div>
                        <!-- End Menu Icon -->
                    </div>

                    <div class="header-mainmenu-area d-none d-lg-block">
                        <!-- Start Main Menu -->
                        <nav id="mainmenu-wrap">
                            <ul class="nav mainmenu justify-content-center">
                                <li class="dropdown-show"><a class="current" href="/clothes/index"
                                                             th:class="${activeUri=='index'?'current':''}">Home</a>
                                </li>
                                <li class="dropdown-show"><a href="/pages/coming">Pages</a>
                                </li>
                                <li class="dropdown-show mega-fullwidth"><a class="" href="/shop/fullWide?pageNum=1"
                                                                            th:class="${activeUri=='fullWide'?'current':''}">Shop</a>
                                    <ul class="mega-menu-wrap dropdown-nav d-flex">
                                        <li class="mega-menu-item"><a href="/shop/fullWide" class="mega-item-title">Shop Pages</a>
                                            <ul>
                                                <li><a href="/shop/fullWide?pageNum=1">Shop Full Wide</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-item"><a href="/shop/configurable" class="mega-item-title">Product Pages</a>
                                            <ul>
                                                <li><a href="/shop/configurable">Product Configurable</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-item"><a href="#" class="mega-item-title">eCommerce Pages</a>
                                            <ul>
                                                <li><a href="/commerce/account">My Account</a></li>
                                                <li><a href="/commerce/cart">Shopping Cart</a></li>
                                                <li><a href="/commerce/checkOut">Check Out</a></li>
                                                <li><a href="/commerce/compare">Compare</a></li>
                                                <li><a href="/commerce/tracking">Tracking Order</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-show"><a class="" href="/shop/collection"
                                                             th:class="${activeUri=='collection'?'current':''}">Collection</a>
                                </li>
                                <li><a class="" href="/blog/contact"
                                       th:class="${activeUri=='contact'?'current':''}">Contact</a></li>
                            </ul>
                        </nav>
                        <!-- End Main Menu -->
                    </div>
                    <div class="header-right-area d-flex justify-content-end align-items-center">
                       <!-- <button class="search-icon animate-modal-popup" data-mfp-src="#search-box-popup"><i class="dl-icon-search1"></i></button>-->
                        <ul class="user-area">
                            <li class="dropdown-show">
                                <button><i class="fa fa-user" th:text="${session.userSession.getUsername()}"></i></button>
                                <ul class="dropdown-nav">
                                    <li><a href="/commerce/account">My Account</a></li>
                                    <li><a href="/commerce/compare">Compare</a></li>
                                </ul>
                            </li>
                        </ul>
                        <a href="/commerce/cart"><button class="mini-cart-icon">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="cart-count">New</span>
                        </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script>

</script>
</body>
</html>