<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org"><!--//导入thymeleaf命名空间-->
<head>
    <meta charset="UTF-8">
    <title>bar</title>
</head>
<body>
<header id="header-area" class="fixed-top sticky-header" th:fragment="topbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-content-wrapper d-flex align-items-center">
                    <div class="header-left-area d-flex align-items-center">
                        <!-- Start Logo Area -->
                        <div class="logo-area">
                            <a href="#"><h1>SHOW ME</h1></a>
                        </div>
                        <!-- End Logo Area -->

                        <!-- Start Menu Icon -->
                        <div class="menu-icon-wrap">
                            <button class="menu-icon-bar modalActive" data-mfp-src="#left-offside-popup"><i class="dl-icon-menu5"></i></button>
                        </div>
                        <!-- End Menu Icon -->
                    </div>

                    <div class="header-mainmenu-area d-none d-lg-block">
                        <!-- Start Main Menu -->
                        <nav id="mainmenu-wrap">
                            <ul class="nav mainmenu justify-content-center">
                                <li class="dropdown-show"><a class="current" href="/clothes/index"
                                                             th:class="${activeUri=='index'?'current':''}">Home</a>
                                </li>
                                <li class="dropdown-show"><a href="/pages/coming">Pages</a>
                                </li>
                                <li class="dropdown-show mega-fullwidth"><a class="" href="/shop/fullWide?pageNum=1"
                                                                            th:class="${activeUri=='fullWide'?'current':''}">Shop</a>
                                    <ul class="mega-menu-wrap dropdown-nav d-flex">
                                        <li class="mega-menu-item"><a href="/shop/fullWide" class="mega-item-title">Shop Pages</a>
                                            <ul>
                                                <li><a href="/shop/fullWide?pageNum=1">Shop Full Wide</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-item"><a href="/shop/configurable" class="mega-item-title">Product Pages</a>
                                            <ul>
                                                <li><a href="/shop/configurable">Product Configurable</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-item"><a href="#" class="mega-item-title">eCommerce Pages</a>
                                            <ul>
                                                <li><a href="/commerce/account">My Account</a></li>
                                                <li><a href="/commerce/cart">Shopping Cart</a></li>
                                                <li><a href="/commerce/checkOut">Check Out</a></li>
                                                <li><a href="/commerce/compare">Compare</a></li>
                                                <li><a href="/commerce/tracking">Tracking Order</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-show"><a class="" href="/shop/collection"
                                                             th:class="${activeUri=='collection'?'current':''}">Collection</a>
                                </li>
                                <li><a class="" href="/blog/contact"
                                       th:class="${activeUri=='contact'?'current':''}">Contact</a></li>
                            </ul>
                        </nav>
                        <!-- End Main Menu -->
                    </div>
                    <div class="header-right-area d-flex justify-content-end align-items-center">
                       <!-- <button class="search-icon animate-modal-popup" data-mfp-src="#search-box-popup"><i class="dl-icon-search1"></i></button>-->
                        <ul class="user-area">
                            <li class="dropdown-show">
                                <button><i class="fa fa-user" th:text="${session.userSession.getUsername()}"></i></button>
                                <ul class="dropdown-nav">
                                    <li><a href="/commerce/account">My Account</a></li>
                                    <li><a href="/commerce/compare">Compare</a></li>
                                    <li><a href="/admin/adminPage">Admin</a></li>
                                </ul>
                            </li>
                        </ul>
                        <a href="/commerce/cart"><button class="mini-cart-icon">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="cart-count">New</span>
                        </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<footer id="footer-area" th:fragment="footerbar">
    <!-- Start Footer Widget Area -->
    <div class="footer-widget-area pt-40 pb-28">
        <div class="container">
            <div class="footer-widget-content">
                <div class="row">
                    <!-- Start Footer Widget Item -->
                    <div class="col-md-4 col-lg-3 order-2 order-lg-1">
                        <div class="footer-widget-item-wrap">
                            <h3 class="widget-title">Contact Us</h3>
                            <div class="widget-body">
                                <div class="contact-text">
                                    <a href="#">(+612) 2531 5600</a>
                                    <a href="#">info@la-studioweb.com</a>
                                    <p>PO Box 1622 Colins Street West <br> Victoria 8077 Australia</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Footer Widget Item -->

                    <!-- Start Footer Widget Item -->
                    <div class="col-md-4 col-lg-6 order-1 text-left text-lg-center">
                        <div class="row">
                            <div class="col-lg-8 col-xl-6 m-auto">
                                <div class="footer-widget-item-wrap">
                                    <div class="widget-body">
                                        <div class="about-text">
                                            <a href="index.html"><img src="http://demo.devitems.com/veera/veera/assets/img/logo.svg" alt="Logo"/></a>
                                            <p>Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi aliquet, sit amet fermentum justo dapibus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Footer Widget Item -->

                    <!-- Start Footer Widget Item -->
                    <div class="col-md-4 col-lg-3 order-3">
                        <div class="footer-widget-item-wrap">
                            <h3 class="widget-title">Join Our Newsletter</h3>
                            <div class="widget-body">
                                <div class="newsletter-area">
                                    <form action="https://company.us19.list-manage.com/subscribe/post?u=2f2631cacbe4767192d339ef2&amp;id=24db23e68a"
                                          method="post" id="mc-form" class="mc-form">
                                        <input type="email" id="mc-email" autocomplete="off"
                                               placeholder="Enter Email Address" required/>
                                        <button class="btn" type="submit">subscribe</button>
                                    </form>

                                    <!-- mailchimp-alerts Start -->
                                    <div class="mailchimp-alerts">
                                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                                    </div>
                                    <!-- mailchimp-alerts end -->
                                </div>
                                <div class="footer-social-icons nav mt-18">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Footer Widget Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Widget Area -->

    <!-- Start Footer Bottom Area -->
    <div class="footer-bottom-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-5 m-auto order-1">
                    <div class="footer-menu mb-sm-12">
                        <ul class="nav justify-content-center justify-content-md-start">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Press</a></li>
                            <li><a href="contact.html">contact</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 m-auto text-center text-md-left order-3 order-md-2">
                    <div class="copyright-text mt-sm-10">
                        <p>&copy; 2018 <a href="index.html">Veera</a>, All rights <a href="http://www.17sucai.com/" title="17sucai">Reserved</a>.</p>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 m-auto text-center text-md-right order-2 order-md-3">
                    <img src="/assets/img/payments.png" alt="Payment Method" />
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom Area -->
</footer>
</body>
</html>